{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.css">
    <link rel="stylesheet"
          href=
                  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body>
<nav class="navbar top-header" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{% url 'movies:movie_list' %}">
            <figure class="image is-96x96">
                <img class="site-logo" src="/media/images/logo5.webp"/>
            </figure>
        </a>

    </div>

    <div id="navbarBasicExample" class="navbar-menu">

        <div class="navbar-item">
        </div>
        <div class="navbar-item">
        </div>
        <div class="navbar-item">
            <form method="GET" action="{% url 'movies:movie_list' %}">
                <div class="field has-addons">
                    <div class="control has-icons-left">
                        <input name="q" value="{{ search }}" class="input" type="search"
                               placeholder="Search"/>
                        <span class="icon is-left"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <div class="control">
                        <button class="button is-info is-dark" type="submit">
                            <span class="icon is-small">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="navbar-item">
            <span>
                <figure class="image is-32x32">
                    <img class="is-rounded" src="/media/images/user-icon.png"/>
                </figure>
            </span>
            <span class="is-medium has-text-info"> {{ user.username }} </span>
        </div>
        <div class="navbar-item">
            <div class="buttons">
                <form method="POST" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button class="button is-info is-dark" type="submit">Log Out</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-info is-inverted" href="{% url 'accounts:register' %}">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-info is-dark" href="{% url 'accounts:login' %}">
                    Log in
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>