{% extends 'movies/base.html' %}

{% block title %}
<title>Movies Atlas</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell">
                <div class="box">
                    <form id="movie-filter" action="{% url 'movies:movie_list' %}">
                        <p class="title is-4">
                        <span class="icon is-small is-left has-text-warning">
                          <i class="fa-solid fa-filter"></i>
                        </span> &nbsp; Filter
                        </p>

                        <div class="block">
                            <div class="checkboxes">
                                {% for category in category_list %}
                                <label class="checkbox">
                                    <input type="checkbox" name="{{category.name}}" value="{{category.id}}"
                                           {% if category.id in category_ids %}
                                           checked
                                           {% endif %}
                                    />
                                    {{category.name}}
                                </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Countries</label>
                            <div class="control has-icons-left">
                                <div class="select is-info is-rounded is-fullwidth">
                                    <select name="country">
                                        <option value="-1"></option>
                                        {% for country in country_list %}
                                        <option value="{{country.id}}"
                                                {% if selected_country_id == country.id %}
                                                selected
                                                {% endif %}
                                        >{{country.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-globe"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Genre</label>
                            <div class="control has-icons-left">
                                <div class="select is-info is-rounded is-fullwidth">
                                    <select name="genre">
                                        <option value="-1"></option>
                                        {% for genre in genre_list %}
                                        <option value="{{genre.id}}"
                                                {% if selected_genre_id == genre.id %}
                                                selected
                                                {% endif %}
                                        >{{genre.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fa-solid fa-masks-theater"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="sliderYearFrom" class="label">From Year:</label>
                            <input id="sliderYearFrom"
                                   class="slider is-fullwidth is-success has-output-tooltip"
                                   type="range"
                                   min="1930"
                                   max="2025"
                                   value="{{selected_year_from}}"
                                   name="year_from"
                                   step="1"
                                   oninput="document.getElementById('sliderOutputYearFrom').value = this.value">

                            <output id="sliderOutputYearFrom" class="ml-2">{{selected_year_from}}</output>
                        </div>

                        <div class="field">
                            <label for="sliderYearTo" class="label">To Year:</label>
                            <input id="sliderYearTo"
                                   class="slider is-fullwidth is-success has-output-tooltip"
                                   type="range"
                                   min="1930"
                                   max="2025"
                                   value="{{selected_year_to}}"
                                   name="year_to"
                                   step="1"
                                   oninput="document.getElementById('sliderOutputYearTo').value = this.value">

                            <output id="sliderOutputYearTo" class="ml-2">{{selected_year_to}}</output>
                        </div>

                        <div class="block">
                            <div class="field">
                                <label for="sliderIMDbMin" class="label">Lowest IMDb Rating:</label>
                                <input id="sliderIMDbMin"
                                       class="slider is-fullwidth is-success has-output-tooltip"
                                       type="range"
                                       min="1"
                                       max="10"
                                       value="{{selected_rating_imdb}}"
                                       name="rating"
                                       step="0.1"
                                       oninput="document.getElementById('sliderOutputIMDbMin').value = this.value">

                                <output id="sliderOutputIMDbMin" class="ml-2">{{selected_rating_imdb}}</output>
                            </div>
                        </div>

                        <div class="block">

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Search</button>
                                </div>
                                <div class="control">
                                    <a type="button" class="button is-link is-light" href="{% url 'movies:movie_list' %}">Clear</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="cell is-col-span-2">
                {% for movie in movies_list %}

                <a href="{% url 'movies:get_movie' movie.pk %}" class="list-group-item">
                    <div class="card is-horizontal">
                        <div class="card-image">
                            <figure class="image is-4b5">
                                {% if movie.photo %}
                                <img src="{{ movie.photo.url }}" alt="{{ movie.title }} poster">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{movie.title}}</p>
                                    <p class="subtitle is-6">xxxxx</p>
                                </div>
                                <div class="media-right">
                                    <span class="tag is-warning is-large">{{movie.imdb_rating}}</span>
                                </div>
                            </div>

                            <div class="content">
                                <div>Year: {{movie.year}}</div>
                                <div>Country:
                                    {% for country in movie.country.all %}
                                    {{ country.name }}
                                    {% endfor %}
                                </div>

                                <div>Genre:
                                    {% for genre in movie.genre.all %}
                                    {{ genre.name }}
                                    {% endfor %}
                                </div>

                                <p></p>
                                <div>
                                    {{ movie.description }}
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </a>
                <br/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}